.d-block {
  height: 550px;
  width: 100%;
}

.carousel-inner {
  width: 100%;
}

.welcome-page {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

#carouselExampleIndicators {
  display: flex;
  flex-direction: column;
  flex-direction: column;
  align-items: center;
}

.clothing-button {
  margin-top: 10px;
}

.clothing-link {
  text-decoration: none;
  color: white;
}
