.App {
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  margin-bottom: 6%;
}

.button-link {
  text-decoration: none;
  color: white;
}

#carouselExampleIndicators {
  width: 100%;
}
